/* CSS declarations go here */
body {
  background: rgb(110,59,154) url(/assets/images/noise.png);
  color: #fff;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  font-family: 'Lora', serif;

}
 
.container {
    margin: 0 auto;
    min-height: 100%;
}

#login-buttons {
    display: block;
    font-size: 30px;
    font-color: #fff;
}

img{
    height: 80px;
    width: 80px;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
    position: relative;
    padding: 30px 15px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: none;

}

#banner h1 {
    font-size: 40px;
    line-height: 1;
}

#banner h2 {
    font-size: 20px;
    line-height: 1;
}

form {
    margin: 0 auto;
   
}

.btn {
  background: none;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);  border-color: #555;
  border-color: #fff;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
}
.btn:hover{
  background: none;
  color: #fff;
  border-color: #fff;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
  box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);


}

.form-control{
  background: none;
  color: #fff;
  border-color: #fff;
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
  width: 100% !important;
  }
  .form-control:focus{
    box-shadow: none;
    border-color: #fff;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
    box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
  }
  .form-control:hover {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
    box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
  }
 
.form-list{
    margin-top: 50px;
}
 
li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li a{
    margin-right: 30px;
    color: #fff;
    font-size: 20px;
}

li a:hover{
    color:#fff;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
    box-shadow: inset 0px 0px 5px 0px rgba(255,255,255,0.95);
}

#count{
    font-size: 17px;
}

.snippet{
    clear: both;
}
 
.searching {
  -webkit-animation: cssAnimation 3.5s infinite linear;
  -moz-animation: cssAnimation 3.5s infinite linear;
  -o-animation: cssAnimation 3.5s infinite linear;
  font-size: 60px;
  text-align: center;
  line-height: 60px;
  height: 60px !important;
}

@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg); }
to { -moz-transform: rotate(360deg);}
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg);}
to { -o-transform: rotate(360deg);}
}