<header>
  <h1 class="text-center">PLANS TONIGHT?</h1>
  <login-buttons></login-buttons>

  <div>
    <h2 class="text-center">
      See which bars are hoppin' tonight and RSVP ahead of time!
    </h2>
  </div>
  <div>
    <h2 class="text-center">
      Remember: take a cab and drink responsibly.
    </h2>
  </div>

  <form class="search" ng-submit="newSearch(newPlace)">
    <input ng-model="newPlace" type="text" name="text" placeholder="WHERE YOU AT?"/>
  </form>
  
</header>

<div class="text-center" ng-show="searching">
  <br/>
  <br/>
  <p>Hang On...We are Searching...</p>
</div>


<ul>
  <li ng-repeat="store in stores">

    <img src="{{store.image_url}}" alt="storeImg">

    <button class="going" id="{{store.id}}" ng-click="addGoing(store)">
    {{ store.amGoing ? "I am going here!" : "Count me in!"}}</button>

    <a href="{{store.url}}" target="_blank"><span class="text" >{{store.name}}</span></a>
    <span>{{store.count}} Goings!</span>

    <p>{{store.snippet_text}}</p>
    
  </li>
</ul>